<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short-cut icon"href="icon/favicon.ico">
    <script src="https://kit.fontawesome.com/7515ede853.js" crossorigin="anonymous"></script> 
    <title>Template</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header class="header">
        <h1>Suman's Blog</h1>
        <img src="images/profile.png" alt="Profile photo">
        <p class="text-center">Hello! My name is Suman Chandra Roy and you can know introduce to me here. </p>
        <a href="#"class="text-center">More about me</a>
        <div class="font-awesome">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-pinterest-square"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div><hr>
        <div class="header-post">
            <a href="#" class="active"><i class="fas fa-home"></i>Blog home</a>
            <a href="#"><i class="fas fa-portrait"></i>Blog post</a>
            <a href="#"><i class="fas fa-address-card"></i>About me</a>
            <button class="get-in-touch">Get in touch</button>
        </div>
    </header>
    <main class="main">
        <h1>SumanBlog-A Blog Template Made for Developers</h1>
        <div class="sub-contain">
            <p>Welcome to my blog. Subscribe and get my latest blog post in your inbox</p>
            <form action="">
                <input type="email"placeholder="Input email"id="sub-box">
                <input type="submit" name="" id="sub-btn"value="Subscribe"onclick="subbtn()">
            </form>
        </div>
        <div class="post">
            <img src="images/blog/blog-post-thumb-1.jpg" alt="">
            <div class="post-cont">
                <h2>Top 3 Java Script Frameworks</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, consequatur. Tempore quos unde consequatur quia voluptate quis! Dolor commodi quis eveniet! Corporis eligendi deserunt eaque quia esse praesentium quae et.               </p>
                <a href="#">Read more &raquo;</a>
            </div>
        </div>
        <div class="post">
            <img src="images/blog/blog-post-thumb-2.jpg" alt="">
            <div class="post-cont">
                <h2>About Remote Working</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, consequatur. Tempore quos unde consequatur quia voluptate quis! Dolor commodi quis eveniet! Corporis eligendi deserunt eaque quia esse praesentium quae et.               </p>
                <a href="#">Read more &raquo;</a>
            </div>
        </div>
        <div class="post">
            <img src="images/blog/blog-post-thumb-3.jpg" alt="">
            <div class="post-cont">
                <h2>A Guide to Becoming a Full-Stact Developer</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, consequatur. Tempore quos unde consequatur quia voluptate quis! Dolor commodi quis eveniet! Corporis eligendi deserunt eaque quia esse praesentium quae et.               </p>
                <a href="#">Read more &raquo;</a>
            </div>
        </div>
        <div class="post">
            <img src="images/blog/blog-post-thumb-4.jpg" alt="">
            <div class="post-cont">
                <h2>High Performance JavaScript</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, consequatur. Tempore quos unde consequatur quia voluptate quis! Dolor commodi quis eveniet! Corporis eligendi deserunt eaque quia esse praesentium quae et.               </p>
                <a href="#">Read more &raquo;</a>
            </div>
        </div>
        <div class="post">
            <img src="images/blog/blog-post-thumb-5.jpg" alt="">
            <div class="post-cont">
                <h2>Learn React in 24 Hour</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, consequatur. Tempore quos unde consequatur quia voluptate quis! Dolor commodi quis eveniet! Corporis eligendi deserunt eaque quia esse praesentium quae et.               </p>
                <a href="#">Read more &raquo;</a>
            </div>
        </div>
        <div class="post">
            <img src="images/blog/blog-post-thumb-6.jpg" alt="">
            <div class="post-cont">
                <h2>How to Build Desktop Apps with HTML,CSS and JavaScript</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, consequatur. Tempore quos unde consequatur quia voluptate quis! Dolor commodi quis eveniet! Corporis eligendi deserunt eaque quia esse praesentium quae et.               </p>
                <a href="#">Read more &raquo;</a>
            </div>
        </div>
        <div class="post pagi">
            <a class="pagination"href="#">Next <span>&raquo;</span></a>
        </div><br><br><br><br><br>
    </main>





    <script src="js/email.js"></script>
</body>
</html>