<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index2.css">
    <link rel="short-cut icon" href="icon/favicon.ico">
    <title> Create Template by Class</title>
</head>
<body>
    <header class="header">
        <h1 class="blog-name">
            <a href="#">Suman's Blog</a>
        </h1>
        <div class="img-part">
            <p class="text-center">
                <img src="images/profile.png" alt="">
            </p>
            <p class="text-center">
                Hello! My name is Suman Chandra Roy and you can know introduce to me here.
            </p>
            <p class="text-center">
                <a class="find-more" href="#">Find out more about me</a>
            </p>
        </div>
    </header>
    <div class="main-wrapper">
        <section class="subscribe-sec">
            <div class="sub-con">
                <h2 class="text-center">A Blog Template for Made by SPC Group</h2>
                <p class="text-center">Welcome to my blog. Subscribe and get my latest blog post in your inbox</p>
                <form action="">
                    <input type="text" class="input-mail"placeholder="Enter email">
                    <button class="subscribe-btn">Subscribe</button>
                </form>
            </div>
        </section>
        <section class="post-sec">
            <div class="post-con">
                <div class="post-item">
                    <div class="post-img">
                        <img src="images/blog/blog-post-thumb-1.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <div class="post-head">
                            <a href="#">Top 3 JavaScript Frameworks</a>
                        </div>
                        <div class="post-info">
                            <ul>
                                <li>Published 2 days ago</li>
                                <li>5 min read</li>
                                <li> 8 comments</li>
                            </ul>
                        </div>
                        <div class="post-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nisi id numquam. Laudantium nobis optio, non consequuntur a tempora? Placeat, expedita neque. Consequatur similique
                        </div>
                        <a href="#" class="post-link">Read More</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>