body{
    margin: 0;
}
.header{
    background-color: #53bd7b;
    width: 280px;
    height: 100vh;
    color: #fff;
    position: fixed;
    left:0;
    top:0;
}
.main-wrapper{
    margin-left: 280px;
}
.blog-name{
    margin: 0%;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 35px;
}
.blog-name a{
    text-decoration: none;
    color: white;
    
}
.text-center{
    text-align: center;
}
.find-more{
    color: white;
}
.subscribe-sec{
    background-color: #9fb3b154;
    padding: 3rem 0;
}
.sub-con{
    text-align: center;
}
.sub-con h2{
    font-size: 2.5rem;
    margin: 0;
    color: #292929;
}
.sub-con p{
    color: #4f4f4f;
    font-size: 18px;
}
.input-mail{
    padding: 0.375rem;
    font-size: 1 rem;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 0.25rem;
    width: 400px;
}
.subscribe-btn{
    color: white;
    background-color: #0d6ffd;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    border: unset;
    padding: 10px 15px;
    border-radius: 0.25rem;
    font-size: 1.2rem;
}
.post-sec{
    padding: 3rem;
}
.post-con{
    width: 80%;
    margin: auto;
}
.post-img{
    width: 20%;
    float: left;
}
.post-img img{
    width: 100%;
}
.post-details{
    width: calc(80% - 50px);
    margin-left:50px;
    float: left;

}
.post-head a{
    color: #292929;
    text-decoration: none;
    font-size: 2rem;
}
..post-info{
    height: 30px;
}
.post-info ul{
    margin: 5px 0px 0px;
    padding: 0;
}
.post-info ul li{
    color: #292929;
    float:left;
    font-size: 15px;
    margin-left: 30px;
    display: block;
}
.post-info ul li:first-child{
    margin-left: none;
    list-style-type: none;
}
.post-body{
    display: inline-block;
    color: #292929;
    font-size: 18px;
    margin-top: 6px;
}
.post-link{
    color: #5fcb71;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.post-link:hover{
    text-decoration: underline;
}